<!DOCTYPE html>
<html className="no-js" lang="">
    <head>
        <meta charset="utf-8" />
        <title>LuxSpace</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />

        <link rel="manifest" href="site.webmanifest" />
        <link rel="apple-touch-icon" href="images/content/favicon.png" />
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="./css/main.css" />
        <link rel="icon" href="images/content/favicon.png" />

        <meta name="theme-color" content="#000" />
    </head>

    <body>
        <!-- Add your site or application content here -->

        <!-- START: CONGRATS -->
        <section className="">
            <div className="container mx-auto min-h-screen">
                <div className="flex flex-col items-center justify-center h-screen">
                    <div className="w-full md:w-4/12 text-center">
                        <img src="images/content/logo.png" alt="Luxspace | Fulfill your house with beautiful furniture" className="mx-auto mb-8" />
                        <p className="mb-16 px-4">Kami menyediakan furniture berkelas yang membuat ruangan terasa homey</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- END: CONGRATS -->

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            setTimeout(() => {
                window.location.href = "home.html";
            }, 2000);
        </script>
        <script>
            window.ga = function () {
                ga.q.push(arguments);
            };
            ga.q = [];
            ga.l = +new Date();
            ga("create", "UA-XXXXX-Y", "auto");
            ga("set", "anonymizeIp", true);
            ga("set", "transport", "beacon");
            ga("send", "pageview");
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async></script>
    </body>
</html>
